body {
	background-color: black;
}
a {
	color:lightblue;
}
p {
	color:white;
}


h1 {
	color:skyblue;
}
h2 {
	color: white;
}

.links {
	color:white;
	background-color:darkblue;
}

.wells {
	margin-bottom: 50px;
}
#help {
	color:lightgray;
	text-align: center;
}

#computerpic {
	width: 100px;
	float: left;
	margin-right: 6px
	margin-bottom: 6px;

}

#fluxpic {
	width: 100px;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;

}

#sleeppic {
	width: 100px;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
	text-align: left;

}



